
@{
	//Layout = "~/Views/Shared/_Layout.cshtml";
	Layout = null;
}

<section id="home">
	<div id="main-slide" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#main-slide"
				data-slide-to="0" class="active"></li>
			<li data-target="#main-slide"
				data-slide-to="1"></li>
			<li data-target="#main-slide"
				data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img class="img-responsive" src="media/banners/slide-01.jpg" alt="slider">
				<div class="slider-content">
					<div class="col-md-12 text-center">
						<h2 class="animated2">
							<span>Welcome to TestSRO</span>
						</h2>
						<h3 class="animated3">
							<span>The Best Silkroad Private Server</span>
						</h3>
						<p class="animated4">
							<a href="register.html"
							   class="slider btn btn-system btn-large">HEMEN KAYIT OL</a>
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="img-responsive" src="media/banners/slide-02.jpg" alt="slider">
				<div class="slider-content">
					<div class="col-md-12 text-center">
						<h2 class="animated2">
							<span></span>
						</h2>
						<h3 class="animated3">
							<span></span>
						</h3>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="img-responsive" src="media/banners/slide-03.jpg" alt="slider">
				<div class="slider-content">
					<div class="col-md-12 text-center">
						<h2 class="animated2">
							<span>Welcome to TestSRO</span>
						</h2>
						<h3 class="animated3">
							<span>The Best Silkroad Private Server</span>
						</h3>
						<p class="animated4">
							<a href="register.html"
							   class="slider btn btn-system btn-large">HEMEN KAYIT OL</a>
						</p>
					</div>
				</div>
			</div>

		</div>
		<a class="left carousel-control" href="#main-slide" data-slide="prev">
			<span><i class="fa fa-angle-left"></i></span>
		</a>
		<a class="right carousel-control" href="#main-slide" data-slide="next">
			<span><i class="fa fa-angle-right"></i></span>
		</a>
	</div>
</section>