
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "İletişim";
}

<div class="col-md-8">
	<h4 class="classic-title"><span>İletişim</span></h4>
	<p class="text-center text-danger">
		Her türlü şikayet, öneri ve görüşlerinizi bize irtibat
		adreslerimiz, forumumuz ve sosyal platform adreslerimizden iletebilirsiniz.
	</p>
	<div class="text-center margin-top-10">
		<b>Facebook:</b> <a href="https://www.facebook.com/RemoPanel/" target="_blank">https://www.facebook.com/RemoPanel/</a>
	</div>
	<div class="text-center margin-top-10">
		<b>Youtube:</b> <a href="3435.html" target="_blank">3435</a>
	</div>
	<div class="text-center margin-top-10">
		<b>Bildiri Sistemi:</b> <a href="user/index.html" target="_blank">Bildiri Yolla</a>
	</div>
</div>