@model LoginDTO
<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kullanıcı Paneli | Giriş</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/assets/css/AdminLogin.css">
    <script src="/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <script src="~/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="https://tasarim3.remopanel.com/">
                <img src="../../remopanel.com/demologo.png" alt="...">
            </a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Kullanıcı Paneline erişebilmek i&ccedil;in l&uuml;tfen giriş yapın</p>
            <div class="alert alert-info">
                Kullanıcı Adı: remo
                <br>
                Şifre: remo123
            </div>
            <form asp-action="Login" asp-controller="Account" method="post">
                <input type="hidden" name="_token" value="aY5UzBdS5NZsOsPGoIiCWskEqAljxn6XyZaydoYt">

                <div class="form-group has-feedback" id="group-username">
                    <input type="text" asp-for="StrUserID" name="StrUserID" placeholder="Kullanıcı Adı" class="form-control">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="StrUserID" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback" id="group-password">
                    <label class="sr-only" for="logpassword">Password</label>
                    <input type="password" asp-for="password" name="password" placeholder="Şifre" class="form-control">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-8">
                        <button type="submit" class="btn btn-danger btn-block btn-flat"> Giriş Yap </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="plugins/sweetalert/sweetalert.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

<!-- Mirrored from tasarim3.remopanel.com/user/login by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 18 Jul 2020 01:16:04 GMT -->
</html>
