
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Oyunu İndir";
}

<div class="col-md-8">
	<div class="row">
		<div class="col-sm-12">
			<h4 class="classic-title"><span>Oyunu İndir</span></h4>
			<div class="row">
				<div class="col-sm-4">
					<div class="download-box">
						<i class="fa fa-cloud-download"></i>
						<h4>Full Client</h4>
						<a target="_blank" href="https://google.com/"
						   class="btn-system btn-large border-btn">İndir</a>
						<hr>
						<span>
							<i class="fa fa-calendar"></i>
							09.09.2017 20:00:00
						</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="download-box">
						<i class="fa fa-cloud-download"></i>
						<h4>Full Client</h4>
						<a target="_blank" href="https://google.com/"
						   class="btn-system btn-large border-btn">İndir</a>
						<hr>
						<span>
							<i class="fa fa-calendar"></i>
							09.09.2017 20:00:00
						</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="download-box">
						<i class="fa fa-cloud-download"></i>
						<h4>Full Client</h4>
						<a target="_blank" href="https://google.com/"
						   class="btn-system btn-large border-btn">İndir</a>
						<hr>
						<span>
							<i class="fa fa-calendar"></i>
							09.09.2017 20:00:00
						</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="download-box">
						<i class="fa fa-cloud-download"></i>
						<h4>Full Client</h4>
						<a target="_blank" href="https://google.com/"
						   class="btn-system btn-large border-btn">İndir</a>
						<hr>
						<span>
							<i class="fa fa-calendar"></i>
							09.09.2017 20:00:00
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<h4 class="classic-title"><span>Sistem Gereksinimleri</span></h4>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Sınıf</th>
							<th>Minimum</th>
							<th>Tavsiye Edilen</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><b>CPU</b></td>
							<td>Pentium 3 800MHz</td>
							<td>Pentium 4 2.4GHz veya üstü</td>
						</tr>
						<tr>
							<td><b>RAM</b></td>
							<td>512MB</td>
							<td>1GB veya üstü</td>
						</tr>
						<tr>
							<td><b>GRAPHICS</b></td>
							<td>GeForce2 veya ATI9000</td>
							<td>GeForce FX 5600, ATI9500 veya üstü</td>
						</tr>
						<tr>
							<td><b>SOUND</b></td>
							<td>DirectX 9.0c Compatibility Card</td>
							<td>DirectX 9.0c Compatibility Card</td>
						</tr>
						<tr>
							<td><b>HDD</b></td>
							<td>4GB</td>
							<td>4GB veya üstü</td>
						</tr>
						<tr>
							<td><b>OS</b></td>
							<td>Windows 2000, XP, Vista, 7, 8</td>
							<td>Windows 2000, XP, Vista, 7, 8</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>